:root {
  --dark-blue: #303050;
  --grey: #aaa;
  --light-grey: #ddd;
}

html,
body {
  margin: 0;
  padding: 0;
}

html {
  background-color: var(--dark-blue);
  color: var(--light-grey);
  font-family: "Oswald";
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  font-size: 60px;
  margin-top: 2vh;
  margin-bottom: 1vh;
}

.scores {
  width: 200px;
  font-size: 20px;
  display: flex;
  justify-content: space-around;
  margin-bottom: 1vh;
}

.choices {
  display: flex;
  flex: 0 1 auto;
  justify-content: space-around;
  width: 80vw;
}

.choice {
  margin: 20px;
  padding: 20px;
  background-color: var(--dark-blue);
  border: 5px solid var(--grey);
  border-radius: 4%;
  flex: 0 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: 0.1s;
}

.choice:hover {
  transform: scale(1.05);
}

.choice:active {
  transform: scale(1);
  background-color: var(--light-grey);
}

.choice img {
  border-radius: 6%;
  margin-top: 10px;
  max-width: 100%;
  height: auto;
}

.choice p {
  font-size: 30px;
  color: var(--light-grey);
  font-family: "Oswald";
  margin-top: 50px;
  margin-bottom: 15px;
}

.results {
  display: flex;
  justify-content: center;
  margin-top: 1vh;
  align-items: center;
}

.results img {
  padding: 5px;
  margin: 30px;
  max-width: 20%;
  height: auto;
  border-radius: 50%;
  border: solid 2px var(--grey);
}

.result {
  font-size: 20px;
  margin-top: 30px;
  width: 10vw;
  text-align: center;
}
